body {
    font-family: Arial, sans-serif;
    background-color: rgb(160, 158, 158);
    margin: 1px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tasks123 {
    border: 1px solid rgb(80, 79, 79);
    padding: 10px;
}

.intro {
    border: 1px solid black;
    padding: 10px;
}


.cover {
    border: 1px solid white;
    background-color: rgb(253, 222, 44);
    height: 90vh;
    color: #fff;
    text-align: center;
    width: 94%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
}

p {
    font-size: 20px;
    color: rgb(2, 90, 36);
}

.task-link {
    text-decoration: none;
    color: rgb(57, 24, 241);
    background-color: #c43453;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
}

.task-link:hover {
    background-color: rgb(0, 255, 0);
}

h2 {
    color: brown;
}

h3 {
    color: rgb(100, 16, 1);
    font-size: x-large;
}